# NODE ENVIRONMENT (development/production)
NODE_ENV=

# PORT NUMBER
PORT=

# Database Configuration
DATABASE_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d


# CLIENT APPLICATION URL
CLIENT_URL=
CLIENT_URL_LOCAL_1=http://localhost:5173
CLIENT_URL_LOCAL_2=http://localhost:5174
CLIENT_URL_LOCAL_3=http://localhost:4173

# JUDGE0 API FOR CODE EXECUTION
JUDGE0_BASE_URL=
JUDGE0_API_KEY=

# GOOGLE OAUTH CREDENTIALS
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_REDIRECT_URI_LOCAL=http://localhost:3000/api/auth/google/callback

# GEMINI API KEY FOR AI FEATURES
GEMINI_API_KEY=

# LIVEBLOCKS SECRET KEY FOR REAL-TIME COLLABORATION
LIVEBLOCKS_SECRET_KEY=